<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <form class="needs-validation" novalidate action="#" th:action="@{/students}" method="post"
                  th:object="${student}">
                <div th:fragment="form">
                    <label for="firstName" th:text="#{student.firstName}">First Name</label>
                    <input class="form-control" type="text" th:field="*{firstName}" id="firstName" required>

                    <label for="lastName" th:text="#{student.lastName}">Last Name</label>
                    <input class="form-control" type="text" th:field="*{lastName}" id="lastName" required>

                    <label for="gender" th:text="#{student.gender}">Gender</label>
                    <select class="form-control" id="gender" th:field="*{gender}">
                        <option th:each="genderType : ${T(com.sanatkar.schoolerp.model.entity.enumeration.Gender).values()}"
                                th:value="${genderType}"
                                th:text="#{${'gender.' + genderType}}"></option>
                    </select>

                    <label for="nationalCode" th:text="#{student.nationalCode}">National Code</label>
                    <input class="form-control" type="text" th:field="*{nationalCode}" id="nationalCode" required>

                    <label for="idNumber" th:text="#{student.idNumber}">ID Number</label>
                    <input class="form-control" type="text" th:field="*{idNumber}" id="idNumber" required>

                    <label for="studentNo" th:text="#{student.studentNo}">Student No</label>
                    <input class="form-control" type="text" th:field="*{studentNo}" id="studentNo" required>

                    <label for="birthDate" th:text="#{student.birthDate}">Birth Date</label>
                    <input class="form-control" type="date" th:type="date" th:field="*{birthDate}" id="birthDate"
                           required>

                    <label for="registerDate" th:text="#{student.registerDate}">Register Date</label>
                    <input class="form-control" type="date" th:type="date" th:field="*{registerDate}" id="registerDate"
                           required>
                    <label for="fathersName" th:text="#{student.fathersName}">Father's Name</label>
                    <input class="form-control" type="text" th:field="*{fathersName}" id="fathersName" required>

                    <label for="bloodGroup" th:text="#{student.bloodGroup}">Blood Group</label>
                    <select class="form-control" id="bloodGroup" th:field="*{bloodGroup}">
                        <option th:each="bloodType : ${T(com.sanatkar.schoolerp.model.entity.enumeration.BloodGroup).values()}"
                                th:value="${bloodType}"
                                th:text="#{${'bloodGroup.' + bloodType}}"></option>
                    </select>

                    <label for="nationality" th:text="#{student.nationality}">Nationality</label>
                    <input class="form-control" type="text" th:field="*{nationality}" id="nationality" required>

                    <label for="motherTongue" th:text="#{student.motherTongue}">Mother Tongue</label>
                    <input class="form-control" type="text" th:field="*{motherTongue}" id="motherTongue" required>

                    <label for="religion" th:text="#{student.religion}">Religion</label>
                    <select class="form-control" id="religion" th:field="*{religion}">
                        <option th:each="religionType : ${T(com.sanatkar.schoolerp.model.entity.enumeration.Religion).values()}"
                                th:value="${religionType}"
                                th:text="#{${'religion.' + religionType}}"></option>
                    </select>

                    <label for="address" th:text="#{student.address}">Address</label>
                    <textarea class="form-control" th:field="*{address}" id="address" required/>

                    <label for="phone" th:text="#{student.phone}">Phone</label>
                    <input class="form-control" type="tel" th:field="*{phone}" id="phone" required>

                    <label for="lastState" th:text="#{student.lastState}">Last State</label>
                    <select class="form-control" id="lastState" th:field="*{lastState}">
                        <option th:each="stateType : ${T(com.sanatkar.schoolerp.model.entity.enumeration.State).values()}"
                                th:value="${stateType}"
                                th:text="#{${'lastState.' + stateType}}"></option>
                    </select>

                    <label for="lastGPA" th:text="#{student.lastGPA}">Last GPA</label>
                    <input class="form-control" type="text" th:field="*{lastGPA}" id="lastGPA" required>

                    <label for="eLevel" th:text="#{student.level}">School</label>
                    <select class="form-control" id="eLevel" th:field="*{level}">
                        <option th:each="level : ${levels}"
                                th:value="${level.id}"
                                th:text="${level.name}"></option>
                    </select>

                    <label for="classRoom" th:text="#{student.class}">School</label>
                    <select class="form-control" id="classRoom" th:field="*{classRoom}">
                        <option th:each="class : ${classes}"
                                th:value="${class.id}"
                                th:text="${class.name}"></option>
                    </select>

                    <label for="school" th:text="#{student.school}">School</label>
                    <select class="form-control" id="school" th:field="*{school}">
                        <option th:each="school : ${schools}"
                                th:value="${school.id}"
                                th:text="${school.name}"></option>
                    </select>


                    <input class="btn btn-success" type="Submit" th:value="#{submit}" value="submit">
                    <a class="btn btn-danger" th:href="@{/students}" th:text="#{cancel}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
