<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td th:text="#{student.firstName}"></td>
            <td th:text="${student.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{student.lastName}"></td>
            <td th:text="${student.lastName}"></td>
        </tr>
        <tr>
            <td th:text="#{student.nationalCode}"></td>
            <td th:text="${student.nationalCode}"></td>
        </tr>
        <tr>
            <td th:text="#{student.idNumber}"></td>
            <td th:text="${student.idNumber}"></td>
        </tr>
        <tr>
            <td th:text="#{student.fathersName}"></td>
            <td th:text="${student.fathersName}"></td>
        </tr>
        <tr>
            <td th:text="#{student.gender}"></td>
            <td th:text="#{${'gender.' + student.gender}}"></td>
        </tr>
        <tr>
            <td th:text="#{student.studentNo}"></td>
            <td th:text="${student.studentNo}"></td>
        </tr>
        <tr>
            <td th:text="#{student.birthDate}"></td>
            <td th:text="${student.birthDate}"></td>
        </tr>
        <tr>
            <td th:text="#{student.registerDate}"></td>
            <td th:text="${student.registerDate}"></td>
        </tr>
        <tr>
            <td th:text="#{student.bloodGroup}"></td>
            <td th:text="#{${'bloodGroup.' + student.bloodGroup}}"></td>
        </tr>
        <tr>
            <td th:text="#{student.motherTongue}"></td>
            <td th:text="${student.motherTongue}"></td>
        </tr>
        <tr>
            <td th:text="#{student.nationality}"></td>
            <td th:text="${student.nationality}"></td>
        </tr>
        <tr>
            <td th:text="#{student.religion}"></td>
            <td th:text="#{${'religion.' + student.religion}}"></td>
        </tr>
        <tr>
            <td th:text="#{student.level}"></td>
            <td th:text="${student.level.name}"></td>
        </tr>
        <tr>
            <td th:text="#{student.lastState}"></td>
            <td th:text="#{${'lastState.' +  student.lastState}}"></td>
        </tr>
        <tr>
            <td th:text="#{student.lastGPA}"></td>
            <td th:text="${student.lastGPA}"></td>
        </tr>
        <tr>
            <td th:text="#{student.address}"></td>
            <td th:text="${student.address}"></td>
        </tr>
        <tr>
            <td th:text="#{student.phone}"></td>
            <td th:text="${student.phone}"></td>
        </tr>
        <tr>
            <td th:text="#{student.school}"></td>
            <td th:text="${student.school.name}"></td>
        </tr>
    </table>
</div>

</body>
</html>
