<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div>
    <table>
        <tr>
            <td th:text="#{guardian.firstName}"></td>
            <td th:text="${guardian.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.lastName}"></td>
            <td th:text="${guardian.lastName}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.nationalCode}"></td>
            <td th:text="${guardian.nationalCode}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.idNumber}"></td>
            <td th:text="${guardian.idNumber}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.mobile}"></td>
            <td th:text="${guardian.mobile}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.email}"></td>
            <td th:text="${guardian.email}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.phone}"></td>
            <td th:text="${guardian.phone}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.address}"></td>
            <td th:text="${guardian.address}"></td>
        </tr>
        <tr>
            <td th:text="#{guardian.user}"></td>
            <td th:text="${guardian.user.username}"></td>
        </tr>
    </table>
</div>

</body>
</html>
