<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: common_head(~{::title})}">
    <title></title>
</head>
<body>
<div class="wrapper">
    <!--Page Content-->
    <div id="home-content">
        <nav id="sideMenu" class="">
            <div>
                <div class="d-flex">
                    <div>نام کاربری: <span th:text="${#authentication.name}"></span></div>
                    <a href="#" th:href="@{/logout}" class="btn btn-danger btn-sm">خروج</a>
                </div>
                <div sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/admin :: menu}"></div>
                <div sec:authorize="hasRole('USER')" th:replace="~{fragments/user :: menu}"></div>
            </div>
        </nav>
        <!--Content of page will replace here-->
        <div id="mainContent" layout:fragment="content"></div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
