<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: common_head(~{::title})}">
    <title></title>
</head>
<body>
<div class="wrapper">
    <!--Page Content-->sec:authorize="hasRole('ROLE_ADMIN')
    <div id="home-content">
        <nav id="sideMenu" class="">
            <div th:switch="${#authorization }">

            </div>
        </nav>
        <!--Content of page will replace here-->
        <div id="mainContent" layout:fragment="content"></div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
