<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td th:text="#{level.name}"></td>
            <td th:text="${level.name}"></td>
        </tr>
        <tr>
            <td th:text="#{level.base}"></td>
            <td th:text="${level.base}"></td>
        </tr>
        <tr>
            <td th:text="#{level.markType}"></td>
            <td th:text="#{${'markType.' + level.markType}}"></td>
        </tr>
    </table>
</div>

</body>
</html>
