<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<body>
<div class="container" layout:fragment="content">
    <a sec:authorize="hasAnyAuthority('ALL_PRIVILEGE','ADD_LEVEL')" th:href="@{/levels/add}" class="btn btn-labeled btn-success">
        <span class="btn-label">
            <i class="fas fa-plus fa-align-right"></i>
        </span>
        <span th:text="#{levels.add}"></span>
    </a>
    <h2 th:if="${levels.isEmpty()}" th:text="#{levels.empty}"></h2>
    <div th:unless="${levels.isEmpty()}" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td th:text="#{level.name}"></td>
                <td th:text="#{level.base}"></td>
                <td th:text="#{level.markType}"></td>
                <td sec:authorize="hasAnyAuthority('ALL_PRIVILEGE','EDIT_LEVEL')" th:text="#{update}"></td>
                <td sec:authorize="hasAnyAuthority('ALL_PRIVILEGE','DELETE_LEVEL')" th:text="#{delete}"></td>
                <td th:text="#{detail}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="level : ${levels}">
                <td th:text="${level.name}"></td>
                <td th:text="${level.base}"></td>
                <td th:text="#{${'markType.' + level.markType}}"></td>
                <td sec:authorize="hasAnyAuthority('ALL_PRIVILEGE','EDIT_LEVEL')"><a href="#" th:href="@{/levels/edit/{id}(id=${level.id})}"><i class="fas fa-edit"></i></a></td>
                <td sec:authorize="hasAnyAuthority('ALL_PRIVILEGE','DELETE_LEVEL')"><a href="#" th:href="@{/levels/delete/{id}(id=${level.id})}"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td><a href="#" th:href="@{/levels/{id}(id=${level.id})}"><i class="fas fa-info-circle"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
