<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td th:text="#{class.name}"></td>
            <td th:text="${class.name}"></td>
        </tr>
        <tr>
            <td th:text="#{class.capacity}"></td>
            <td th:text="${class.capacity}"></td>
        </tr>
        <tr>
            <td th:text="#{class.school}"></td>
            <td th:text="${class.school.name}"></td>
        </tr>
    </table>
</div>

</body>
</html>
