<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div class="col-md-6" layout:fragment="content">
    <form class="needs-validation" action="#" th:action="@{/classes/edit/{id}(id=${class.id})}" method="post" th:object="*{class}">

        <div class="form-group">
            <label for="name" th:text="#{class.name}">name</label>
            <input class="form-control" type="text" th:field="*{name}" id="name">
        </div>

        <div class="form-group">
            <label for="capacity" th:text="#{class.capacity}">capacity</label>
            <input class="form-control" type="text" th:field="*{capacity}" id="capacity">
        </div>

        <div class="form-group">
            <label for="school" th:text="#{class.school}">school</label>
            <select class="form-control" th:field="*{capacity}" id="school">
                <option th:each="school : ${schools}"
                        th:value="${school.id}"
                        th:text="${school.name}"></option>
            </select>
        </div>

        <button type="button" th:text="#{submit}" class="btn btn-success">submit</button>
        <a href="#" th:href="@{/classes}" class="btn btn-danger" th:text="#{cancel}"></a>
    </form>
</div>

</body>
</html>
