<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div class="col-md-6" layout:fragment="content">
    <form class="needs-validation" action="#" th:action="@{/studetnGuardians/edit/{id}(id=${studentGuardian.id})}"
          method="post"
          th:object="${studentGuardian}">
        <div th:replace="~{student-guardian/student-guardian-add :: form}"></div>
<!--        <div class="form-group">-->
<!--            <label th:text="#{studentGuardian.student}" for="student"></label>-->
<!--            <select class="form-control" th:field="*{student}" id="student">-->
<!--                <option th:each="student : ${students}"-->
<!--                        th:value="${student.id}"-->
<!--                        th:text="${student.firstName}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:text="#{studentGuardian.guardian}" for="guardian"></label>-->
<!--            <select class="form-control" th:field="*{guardian}" id="guardian">-->
<!--                <option th:each="guardian : ${guardians}"-->
<!--                        th:value="${guardian.id}"-->
<!--                        th:text="${guardian.firstName}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="relation" th:text="#{studentGuardian.relation}"></label>-->
<!--            <input type="text" th:field="*{relation}" id="relation" class="form-control" required>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-success" th:text="#{submit}"></button>-->
<!--        <a href="#" th:href="@{/studentGuardians}" class="btn btn-danger" th:text="#{cancel}"></a>-->
    </form>
</div>

</body>
</html>
