<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <table class="table">
        <tr>
            <td th:text="#{year.name}"></td>
            <td th:text="${year.name}"></td>
        </tr>

        <tr>
            <td th:text="#{year.fromYear}"></td>
            <td th:text="${year.fromYear}"></td>
        </tr>

        <tr>
            <td th:text="#{year.toYear}"></td>
            <td th:text="${year.toYear}"></td>
        </tr>

        <tr>
            <td th:text="#{year.school}"></td>
            <td th:text="${year.school.name}"></td>
        </tr>
    </table>
    <a class="btn btn-success" href="#" th:href="@{/years/edit/{id}(id=${year.id})}" th:text="#{update}"></a>
    <a class="btn btn-danger" href="#" th:href="@{/years/delete/{id}(id=${year.id})}" th:text="#{delete}"></a>
</div>

</body>
</html>
