<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div class="col-md-6" layout:fragment="content">
    <form action="#" method="post" class="needs-validation" th:action="@{/years/edit/{id}(id=${year.id})}" th:object="${year}">

        <div class="form-group">
            <label for="name" th:text="#{year.name}">name</label>
            <input class="form-control" id="name" type="text" th:field="*{name}" required>
        </div>

        <div class="form-group">
            <label for="fromYear" th:text="#{year.fromYear}">from year</label>
            <input class="form-control" id="fromYear" type="date" th:field="*{fromYear}" required>
        </div>

        <div class="form-group">
            <label for="toYear" th:text="#{year.fromYear}">to year</label>
            <input class="form-control" id="toYear" type="date" th:field="*{toYear}" required>
        </div>

        <div class="form-group">
            <label for="school"></label>
            <select class="form-control" th:field="*{school}" id="school">
                <option th:each="school : ${schools}"
                        th:value="${school.id}"
                        th:text="${school.name}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-success" th:text="#{submit}">submit</button>
        <a href="#" th:href="@{/years}" th:text="#{cancel}" class="btn btn-danger">cancel</a>

    </form>
</div>

</body>
</html>
