<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div class="container" layout:fragment="content">
    <a th:href="@{/courses/add}" class="btn btn-labeled btn-success">
        <span class="btn-label">
            <i class="fas fa-plus fa-align-right"></i>
        </span>
        <span th:text="#{courses.add}"></span>
    </a>
    <h2 th:if="${courses.isEmpty()}" th:text="#{courses.empty}"></h2>
    <div th:unless="${courses.isEmpty()}" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td th:text="#{course.name}">name</td>
                <td th:text="#{course.type}">type</td>
                <td th:text="#{update}">update</td>
                <td th:text="#{delete}">delete</td>
                <td th:text="#{detail}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.courseType}"></td>
                <a href="#" th:href="@{/courses/edit/{id}(id=${course.id})}"><i class="fas fa-edit"></i></a>
                <a href="#" th:href="@{/courses/delete/{id}(id=${course.id})}"><i class="fas fa-trash-alt"></i></a>
                <a href="#" th:href="@{/courses/{id}(id=${course.id})}"><i class="fas fa-info-circle"></i></a>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
