<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <table class="table">
        <tr>
            <td th:text="#{course.name}"></td>
            <td th:text="${course.courseName}"></td>
        </tr>
        <tr>
            <td th:text="#{course.type}"></td>
            <td th:text="${course.courseType}"></td>
        </tr>
    </table>
</div>

</body>
</html>
