<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div class="container" layout:fragment="content">
    <a th:href="@{/studentLeaves/add}" class="btn btn-labeled btn-success">
        <span class="btn-label">
            <i class="fas fa-plus fa-align-right"></i>
        </span>
        <span th:text="#{studentsLeaves.add}"></span>
    </a>
    <h2 th:if="${leaves.isEmpty()}" th:text="#{studentsLeaves.empty}"></h2>
    <div th:unless="${leaves.isEmpty()}" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td th:text="#{studentLeave.student}"></td>
                <td th:text="#{studentLeave.guardian}"></td>
                <td th:text="#{studentLeave.leaveDate}"></td>
                <td th:text="#{studentLeave.requestDate}"></td>
                <td th:text="#{studentLeave.reason}"></td>
                <td th:text="#{studentLeave.status}"></td>
                <td th:text="#{update}"></td>
                <td th:text="#{delete}"></td>
                <td th:text="#{detail}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="leave : ${leaves}">
                <td th:text="${leave.student.lastName}"></td>
                <td th:text="${leave.guardian.lastName}"></td>
                <td th:text="${leave.leaveDate}"></td>
                <td th:text="${leave.requestDate}"></td>
                <td th:text="${leave.reason}"></td>
                <td th:text="#{${'leavelStatus.' + leave.status}}"></td>
                <td><a href="#" th:href="@{/studentLeaves/edit/{id}(id=${leave.id})}"><i class="fas fa-edit"></i></a>
                </td>
                <td><a href="#" th:href="@{/studentLeaves/delete/{id}(id=${leave.id})}"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td><a href="#" th:href="@{/studentLeaves/{id}(id=${leave.id})}"><i class="fas fa-info-circle"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
