<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <table class="table">
        <tr>
            <td th:text="#{studentLeave.requestDate}"></td>
            <td th:text="${leave.requestDate}"></td>
        </tr>
        <tr>
            <td th:text="#{studentLeave.leaveDate}"></td>
            <td th:text="${leave.leaveDate}"></td>
        </tr>
        <tr>
            <td th:text="#{studentLeave.reason}"></td>
            <td th:text="${leave.reason}"></td>
        </tr>
        <tr>
            <td th:text="#{studentLeave.student}"></td>
            <td th:text="${leave.student.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{studentLeave.guardian}"></td>
            <td th:text="${leave.guardian.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{studentLeave.status}"></td>
            <td th:text="#{${'leavelStatus.' + leave.status}}"></td>
        </tr>
    </table>
</div>

</body>
</html>
