<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div layout:fragment="content">
    <tabel class="table">
        <tr>
            <td th:text="#{attendance.student}">Student</td>
            <td th:text="${studentAttendance.student.firstName + ' ' + studentAttendance.student.lastName}">Student</td>
        </tr>
        <tr>
            <td th:text="#{attendance.date}">Absence Date</td>
            <td th:text="${studentAttendance.absenceDate}">Absence Date</td>
        </tr>
        <tr>
            <td th:text="#{attendance.reason}">Reason</td>
            <td th:text="${studentAttendance.reason}">Reason</td>
        </tr>
        <tr>
            <td th:text="#{attendance.isAcceptable}">isAcceptable</td>
            <td th:text="${studentAttendance.isAcceptable}">isAcceptable</td>
        </tr>
        <tr>
            <td th:text="#{attendance.year}">Year</td>
            <td th:text="${studentAttendance.year}">Year</td>
        </tr>
    </tabel>
</div>
</body>
</html>
