<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td th:text="#{classTeacher.teacher}"></td>
            <td th:text="${classTeacher.teacher.firstName + ' ' + classTeacher.teacher.lastName}"></td>
        </tr>
        <tr>
            <td th:text="#{classTeacher.class}"></td>
            <td th:text="${classTeacher.classRoom.name}"></td>
        </tr>
        <tr>
            <td th:text="#{classTeacher.courseName}"></td>
            <td th:text="${classTeacher.courseName}"></td>
        </tr>
        <tr>
            <td th:text="#{classTeacher.isPrimary}"></td>
            <td th:text="${classTeacher.isPrimaryTeacher}"></td>
        </tr>
    </table>
</div>

</body>
</html>
