<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<ul class="list-unstyled" id="entities" th:fragment="menu">
    <li>
        <a href="/users" name="users" th:text="#{users}">Users</a>
    </li>
    <li>
        <a href="/schools" name="schools" th:text="#{schools}">Schools</a>
    </li>
    <li>
        <a href="/students" name="students" th:text="#{students}">Students</a>
    </li>
    <li>
        <a href="/employees" name="employees" th:text="#{employees}">employees</a>
    </li>
    <li>
        <a href="/years" name="years" th:text="#{years}">Academic Year</a>
    </li>
    <li>
        <a href="/classes" name="classes" th:text="#{classes}">Classes</a>
    </li>
    <li>
        <a href="/courses" name="courses" th:text="#{courses}">Courses</a>
    </li>
    <li>
        <a href="/teachers" name="teachers" th:text="#{classTeachers}">teachers</a>
    </li>
    <li>
        <a href="/levels" name="levels" th:text="#{levels}">levels</a>
    </li>
    <li>
        <a href="/jobs" name="jobs" th:text="#{jobs}">jobs</a>
    </li>
    <li>
        <a href="/guardians" name="guardians" th:text="#{guardians}">Guardians</a>
    </li>
    <li>
        <a href="/absences" name="absences" th:text="#{attendance}">Student Attendances</a>
    </li>
    <li>
        <a href="/studentLeaves" name="studentLeaves" th:text="#{studentsLeaves}">leaves</a>
    </li>
    <li>
        <a href="/studentGuardians" name="studentGuardians" th:text="#{studentGuardians}">Student Guardians</a>
    </li>
    <li>
        <a href="/transcripts" name="transcripts" th:text="#{transcripts}">transcripts</a>
    </li>
</ul>
</body>
</html>
