<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <script type="text/javascript" src="../../static/js/core/jquery.min.js" th:src="@{/js/core/jquery.min.js}"></script>
    <script src="../../static/js/persian-date.min.js" th:src="@{/js/persian-date.min.js}"></script>
    <script src="../../static/js/persian-datepicker.min.js" th:src="@{/js/persian-datepicker.min.js}"></script>
    <script type="text/javascript" src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!--    <script type="text/javascript" src="../../static/js/selectize.js" th:src="@{/js/selectize.js}"></script>-->
    <script type="text/javascript" src="../../static/js/jquery.multi-select.js" th:src="@{/js/jquery.multi-select.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.quicksearch.js" th:src="@{/js/jquery.quicksearch.js}"></script>
    <script type="text/javascript" src="../../static/js/core/popper.min.js" th:src="@{/js/core/popper.min.js}"></script>
</div>
</body>
</html>
