<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../../static/css/fontawesome.min.css" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" href="../../static/css/solid.min.css" th:href="@{/css/solid.min.css}">
    <link rel="icon" href="../../favicon.ico" th:src="@{/images/school.png}">
</head>
<body>

<div class="container">
    <a th:href="@{/employees/add}" class="btn btn-labeled btn-success">
        <span class="btn-label">
            <i class="fas fa-plus fa-align-right"></i>
        </span>
        <span th:text="#{employees.add}"></span>
    </a>
    <h2 th:if="${employees.isEmpty()}" th:text="#{employees.empty}"></h2>
    <div th:unless="${employees.isEmpty()}" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td th:text="#{employee.firstName}"></td>
                <td th:text="#{employee.lastName}"></td>
                <td th:text="#{employee.nationalCode}"></td>
                <td th:text="#{employee.idNumber}"></td>
                <td th:text="#{employee.personalId}"></td>
                <td th:text="#{employee.birthDate}"></td>
                <td th:text="#{employee.hiedDate}"></td>
                <td th:text="#{employee.phone}"></td>
                <td th:text="#{employee.mobile}"></td>
                <td th:text="#{employee.email}"></td>
                <td th:text="#{employee.address}"></td>
                <td th:text="#{employee.title}"></td>
                <td th:text="#{employee.school}"></td>
                <td th:text="#{employee.user}"></td>
                <td th:text="#{update}"></td>
                <td th:text="#{delete}"></td>
                <td th:text="#{detail}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.nationalCode}"></td>
                <td th:text="${employee.idNumber}"></td>
                <td th:text="${employee.personalId}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td th:text="${employee.hiredDate}"></td>
                <td th:text="${employee.phone}"></td>
                <td th:text="${employee.mobile}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.address}"></td>
                <td th:text="${employee.title.title}"></td>
                <td th:text="${employee.school.name}"></td>
                <td th:text="${employee.user.username}"></td>
                <td><a href="#" th:href="@{/employees/edit/{id}(id=${employee.id})}"><i class="fas fa-edit"></i></a>
                </td>
                <td><a href="#" th:href="@{/employees/delete/{id}(id=${employee.id})}"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td><a href="#" th:href="@{/employees/{id}(id=${employee.id})}"><i class="fas fa-info-circle"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>