<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div class="col-md-6" layout:fragment="content">
    <form action="#" th:action="@{/employees/edit/{id}(id=${employee.id})}" th:object="${employee}" method="post"
          class="needs-validation">
        <div th:replace="employee/employee-add :: form"></div>
    </form>
</div>

</body>
</html>
