<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td th:text="#{employee.firstName}"></td>
            <td th:text="${employee.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.lastName}"></td>
            <td th:text="${employee.lastName}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.nationalCode}"></td>
            <td th:text="#{employee.nationalCode}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.idNumber}"></td>
            <td th:text="${employee.idNumber}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.personalId}"></td>
            <td th:text="${employee.personalId}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.birthDate}"></td>
            <td th:text="${employee.birthDate}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.hiedDate}"></td>
            <td th:text="${employee.hiredDate}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.phone}"></td>
            <td th:text="${employee.phone}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.mobile}"></td>
            <td th:text="${employee.mobile}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.email}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.address}"></td>
            <td th:text="${employee.address}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.title}"></td>
            <td th:text="${employee.title.title}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.school}"></td>
            <td th:text="${employee.school.name}"></td>
        </tr>
        <tr>
            <td th:text="#{employee.user}"></td>
            <td th:text="${employee.user.username}"></td>
        </tr>
    </table>
</div>

</body>
</html>
