<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/default">
<body>

<div layout:fragment="content">
    <h1>from Home page</h1>
    <h1>به صفحه‌ی اصلی خوش آمدید.</h1>
    <p th:text="${#authentication.getPrincipal()}"></p>
    <div sec:authorize="hasRole('ROLE_ADMIN')">قابل مشاهده برای کاربر با دسترسی مدیر (ROLE_ADMIN)</div>
</div>

</body>
</html>


