<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <h1>from Home page</h1>
    <h1>به صفحه‌ی اصلی خوش آمدید.</h1>
    <p th:text="${#authentication.getPrincipal()}"></p>

    Logged user: <span sec:authentication="name"></span>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasAuthority('WRITE_PRIVILEGE')">
        hasAuthority('WRITE_PRIVILEGE')
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        hasRole('ROLE_ADMIN')
    </div>
    <div sec:authorize="hasRole('USER')">
        hasRole('ROLE_USER')
    </div>

</div>

</body>
</html>


