<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{images/school.png}">
    <title>Home</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

</head>
<body>
<h1>Welcome to Home Page</h1>

<div sec:authorize="hasRole('ROLE_ADMIN')"></div>

<script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>