<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div class="col-md-6" layout:fragment="content">
    <form action="#" th:action="@{/jobs/edit/{id}(id=${job.id})}" th:object="${job}" class="needs-validation">
        <div class="form-group">
            <label for="title"></label>
            <input type="text" id="title" class="form-control" th:field="*{title}" required>
        </div>
        <div class="form-group">
            <label for="role"></label>
            <input type="text" id="role" class="form-control" th:field="*{role}" required>
        </div>

        <button type="submit" class="btn btn-success" th:text="#{submit}">submit</button>
        <a href="#" th:href="@{/jobs}" class="btn btn-danger" th:text="#{cancel}">cancel</a>
    </form>
</div>

</body>
</html>
