<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div class="container" layout:fragment="content">
    <a th:href="@{/jobs/add}" class="btn btn-labeled btn-success">
        <span class="btn-label">
            <i class="fas fa-plus fa-align-right"></i>
        </span>
        <span th:text="#{jobs.add}"></span>
    </a>
    <h2 th:if="${jobs.isEmpty()}" th:text="#{jobs.empty}"></h2>
    <div th:unless="${jobs.isEmpty()}" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td th:text="#{job.title}"></td>
                <td th:text="#{job.role}"></td>
                <td th:text="#{update}"></td>
                <td th:text="#{delete}"></td>
                <td th:text="#{detail}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.title}"></td>
                <td th:text="${job.role}"></td>
                <td><a href="#" th:href="@{/jobs/edit/{id}(id=${job.id})}"><i class="fas fa-edit"></i></a></td>
                <td><a href="#" th:href="@{/jobs/delete/{id}(id=${job.id})}"><i class="fas fa-trash-alt"></i></a></td>
                <td><a href="#" th:href="@{/jobs/{id}(id=${job.id})}"><i class="fas fa-info-circle"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
