<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body class="form">

<div class="container text-center">
    <form th:action="@{/login}" method="post" class="form-signin">
        <img class="mb-4" src="../../favicon.ico" th:src="@{images/school.png}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{singin}">صفحه ورود</h1>
        <div th:if="${param.error}">
            <div class="alert alert-danger" th:text="#{error.login}">
                نام کابری یا رمز عبور اشتباه است.
            </div>
        </div>

        <div th:if="${param.logout}">
            <div class="alert alert-info">
                از حساب کاربری خود با موفقیت خارج شدید.
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" id="username" name="username" class="form-control" th:placeholder="#{username}" required autofocus>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" id="password" name="password" class="form-control" placeholder="رمز عبور" required >
            </div>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> مرا به یاد داشته باش
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
