<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td th:text="#{role.name}"></td>
            <td th:text="${role.name}"></td>
        </tr>
        <tr>
            <td th:text="#{role.privileges}"></td>
            <td>
                <div class="">
                    <span class="badge badge-secondary m-1" th:each="privilege : ${role.privileges}">
                        <th:block th:text="#{${#strings.arraySplit(privilege.name, ',')[0]}}"></th:block>
                    </span>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
