<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/default}">
<body>

<div layout:fragment="content">
    <tabel class="table">
        <tr>
            <td th:text="#{school.name}"></td>
            <td th:text="${school.name}"></td>
        </tr>
        <tr>
            <td th:text="#{school.address}"></td>
            <td th:text="${school.address}"></td>
        </tr>
        <tr>
            <td th:text="#{school.area}"></td>
            <td th:text="${school.area}"></td>
        </tr>
        <tr>
            <td th:text="#{school.phone}"></td>
            <td th:text="${school.phone}"></td>
        </tr>
        <tr>
            <td th:text="#{school.website}"></td>
            <td th:text="${school.website}"></td>
        </tr>
        <tr>
            <td th:text="#{school.email}"></td>
            <td th:text="${school.email}"></td>
        </tr>
        <tr>
            <td th:text="#{school.isGovernmentSchool}"></td>
            <td th:text="${school.isGovernmentSchool}"></td>
        </tr>
    </tabel>
</div>

</body>
</html>
